.logo{
    width: 37px;
    height: 30px;
    margin-top: 7px;
margin-left: 47px;
position: fixed;
}

.navbar ul{
   background-color: rgb(80, 80, 219);
   display: flex;
   width: 97.4%;
    height: 44px;
    margin-top: 0px;
    list-style: none;
    margin-bottom: -41px;
}


.navbar a{
    margin-left: 81px;
    margin-top: 3px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    padding: 10px;
}

.navbar a:hover{
    color: rgb(26, 26, 80);
}

.user{
    width: 20px;
    height: 18px;
    margin-top: 9px;
    margin-left: 1460px;
    position: fixed;
}

.user:hover{
    cursor: pointer;
  opacity: 0.3;
}

.info{
    width: 21px;
    height: 20px;
    margin-top: 9px;
    margin-left: 1495px;
    position: fixed;
    
}

.info:hover{
      cursor: pointer;
    opacity: 0.3;
}


.welcome{
    margin-left: 124px;
    margin-top: 96px;
    font-size: 28px;
font-family: Arial, Helvetica, sans-serif;
}

.paragraph{
    color: aliceblue;
    margin-left: 121px;
    margin-top: 135px;
    font-size: 22px;
font-family: Arial, Helvetica, sans-serif;
position: relative;
}